.mainbox {
    border: 1px solid silver;
    border-radius: 1px;
    width: 550px;
    height: 400px;
    margin: auto;
    margin-top: 12%;
    
    
    
  }
  
  #Signin {
    color: black;
    margin: 10px 30px;
    font-size: 40px;
  }
  
  #Email {
    height:
    font-size: 20px;
    color: solid silver;
  }
  
  #input1 {
    height: 30px;
    width: 465px;
    margin-left: 35px;
    margin-bottom: 20px;
    color: solid silver;
    border-color: solid silver;
  }

  #label1 {
    margin-left:35px;
  }
  

  #input2 {
    height: 30px;
    width: 465px;
    margin-left: 35px;
    
    color: solid silver;
    border-color: solid silver;
  }
  #label2 {
    margin: 35px;
    
  }
  
  #Continue {
   margin-top: 45px;
   margin-left: 55px;
   height: 30px;
   width: 430px;
   background: rgb(255, 200, 3);
   border-radius: 3px;
  }

a {
    margin-left: 390px;
    
}

#azon {
   margin-top: 45px;
   margin-left: 735px;
   height: 30px;
   width: 430px;
   background: rgb(224, 223, 219);
   border-radius: 3px;
   position: static;
}

a1 {
    margin-left: 55px;
}

#condition {
    text-align: center;
}